[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djoser = "*"
django-cors-headers = "*"
imagekitio = "*"
python-decouple = "*"
dj-database-url = "*"
whitenoise = "*"
gunicorn = "*"
mysqlclient = "*"

[dev-packages]

[requires]
python_version = "3.14"
